@use '../tokens/colors' as *;
@use '../tokens/spacing' as *;
@use '../tokens/typography' as *;
@use '../layout/responsive' as *;

// Ban File Monitors Feature Styles

#banFileMonitorsTable {
    td:nth-child(2) {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include media-md {
            max-width: 400px;
        }

        @include media-xl {
            max-width: none;
        }
    }
}
