<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top" aria-label="Top navigation">
    <div class="container-fluid">
        <button class="btn btn-primary me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideNav" 
                aria-controls="sideNav" aria-label="Toggle navigation menu" data-testid="topnav-menu-toggle">
            <i class="fa-solid fa-bars" aria-hidden="true"></i>
        </button>
        
        <span class="navbar-text d-none d-md-inline me-auto">
            <i class="fa-solid fa-house fa-fw" aria-hidden="true"></i> Welcome to the XI Portal
        </span>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" 
                   data-bs-toggle="dropdown" aria-expanded="false" aria-label="Help and information" 
                   data-testid="topnav-help-dropdown">
                    <i class="fa-solid fa-circle-question fa-fw" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="helpDropdown">
                    <li>
                        <a class="dropdown-item" href="https://www.xtremeidiots.com/" target="_blank" 
                           rel="noopener noreferrer" data-testid="topnav-help-website">
                            <i class="fa-solid fa-arrow-up-right-from-square fa-fw" aria-hidden="true"></i> XtremeIdiots Website
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="https://www.xtremeidiots.com/forums/" target="_blank" 
                           rel="noopener noreferrer" data-testid="topnav-help-forums">
                            <i class="fa-solid fa-comments fa-fw" aria-hidden="true"></i> Forums
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
