@model string

@{
    ViewData["Title"] = "Login Error";
    Layout = null;
    var errorMessage = string.IsNullOrWhiteSpace(Model)
    ? "There has been an issue logging you in."
    : Model;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XI Portal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <main class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>XtremeIdiots Portal Login</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <div class="alert alert-danger" role="alert">
                            @errorMessage
                        </div>
                        <a class="btn btn-outline-secondary mt-2" asp-controller="Identity" asp-action="Login">
                            <i class="fa-solid fa-fw fa-arrow-left" aria-hidden="true"></i> Back to Login
                        </a>
                    </div>
                    <div class="ibox-footer text-muted small d-flex justify-content-between">
                        <span>Copyright &mdash; Fraser Molyneux</span>
                        <span>&copy; @DateTime.UtcNow.Year</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>