// Top navbar styles

.navbar {
    border: 0;
}

.navbar-top-links {
    li {
        align-self: center;
        display: inline-block;

        a {
            min-height: 50px;
            padding: 20px 10px;
        }
    }

    > li > a {
        color: $xi-text-muted;

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }
}

.body-small .navbar-top-links li:last-child {
    margin-right: 0;
}

// Navbar brand
.navbar-brand {
    padding: 0.5rem 1rem;
}

// Mobile navbar adjustments
@include media-max-md {
    .navbar-top-links li a {
        padding: 15px 8px;
    }
}
