// Accessibility improvements

// Focus indicators
*:focus {
    outline: 2px solid $xi-primary;
    outline-offset: 2px;
}

// Skip to main content link
.skip-to-main {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: $xi-primary;
    color: white;
    text-decoration: none;

    &:focus {
        left: 50%;
        transform: translateX(-50%);
        top: 1em;
    }
}

// Screen reader only content
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

// Ensure images have alt text in development
img:not([alt]) {
    outline: 3px solid red;
}
