name: Build and Test

on:
  push:
    branches:
      - "feature/**"
      - "bugfix/**"
      - "hotfix/**"
      - "dependabot/**"
      - "copilot/**"
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: frasermolyneux/actions/dotnet-web-ci@main
        with:
          dotnet-project: "XtremeIdiots.Portal.Web"
          dotnet-version: 9.0.x
          src-folder: "src"
